//= require iCheck/custom.css
//= require dataTables/datatables.min.css
//= require jquery-ui/jquery-ui.min.css
//= require jqGrid/ui.jqgrid.css
//= require footable/footable.core.css
//= require dropzone

// #user-profile-image {
//     width: 100%;
//     height: 100px;
//     text-align: center;
// 	vertical-align: middle;
// 	line-height: 200px; 
// }

// .dz-message {
// 	text-align: center !important;
// 	background-color: #2f4050 !important;
// }

.user-profile-image-preview {
    height: 200px;
}