<div class="middle-box text-center loginscreen   animated fadeInDown">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
        <%= f.text_field :first_name, class: 'form-control', placeholder: 'First Name' %><br />
      </div>

      <div class="form-group">
        <%= f.text_field :last_name, class: 'form-control', placeholder: 'Last Name' %><br />
      </div>

      <div class="form-group">
        <%= f.text_field :title, class: 'form-control', placeholder: 'Title' %><br />
      </div>

      <div class="form-group">
        <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email' %>
      </div>

      <div class="form-group">
        <%= f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder: 'Current Password' %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
      </div>

      <div class="form-group">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Password Confirmation' %>
      </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>



    <div class="actions">
      <%= f.submit "Update", class: 'btn btn-primary block full-width m-b' %>
    </div>
  <% end %>
  
  <p><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, class: 'btn btn-primary block full-width m-b', method: :delete %></p>

  <%= link_to "Back", :back %>
</div>
