<div class="middle-box text-center loginscreen   animated fadeInDown">
  <h3>Register for Graduate Development Program</h3>
  <p>This is a secured application and access is limited. After providing the following information we will review your request:</p>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {class: 'm-t'}) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.text_field :first_name, class: 'form-control', placeholder: 'First Name' %><br />
    </div>

    <div class="form-group">
      <%= f.text_field :last_name, class: 'form-control', placeholder: 'Last Name' %><br />
    </div>

    <div class="form-group">
      <%= f.text_field :title, class: 'form-control', placeholder: 'Title' %><br />
    </div>

    <div class="form-group">
      <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email' %>
    </div>

    <div class="form-group">
      <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
    </div>

    <div class="form-group">
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Password Confirmation' %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: 'btn btn-primary block full-width m-b' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
