<p>Dear <%= @user.name %></p>

<p>Your request to access the Graduate Development Program website has been denied.</p>

<p>If you feel this is an error, please contact the Program Superviser.</p>

<p>Thanks,</p>

<p>GDP Management Team</p>