<div class="wrapper wrapper-content">
<div class="row animated fadeInRight">
    <div class="col-md-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Participant</h5>
            </div>
            <div>
                <% if @participant.user_profile&.user_profile_image&.image_path %>
                    <div class="ibox-content no-padding border-left-right">
                        <img alt="image" class="img-responsive" src="<%= @participant.user_profile.user_profile_image.image_path %>">
                    </div>
                <% else %>
                    <div class="ibox-content no-padding border-left-right">
                        <img alt="image" class="img-responsive" src='<%= image_path("no_image.png") %>'>
                    </div>
                <% end %>
                <div class="ibox-content profile-content">
                    <h4><strong><%= @participant.name %></strong></h4>
                    <!-- <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p> -->
                    <p><%= mail_to @participant.email %></p>
                    <h5>
                        About me
                    </h5>
                    <p>
                        <%= @participant.user_profile&.bio %>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Profile</h5>
            </div>
            <div class="ibox-content">
                    <h5>Job Title</h5>
                    <p><%=@participant.user_profile&.job_title%></p>

                    <h5>Office Address</h5>
                    <% if @participant.user_profile&.address %>
                        <address>
                            <%=@participant.user_profile&.address.address_1 if @participant.user_profile&.address %></br>
                            <% if @participant.user_profile&.address && @participant.user_profile&.address.address_2.length > 0 %>
                                <%=@participant.user_profile&.address.address_2%></br>
                            <% end %>
                            <%=@participant.user_profile&.address.city if @participant.user_profile&.address %>, <%=@participant.user_profile&.address.state if @participant.user_profile&.address%>. <%=@participant.user_profile&.address.zip if @participant.user_profile&.address%>
                        </address>
                    <% else %>
                        <p>Unknown</p>
                    <% end %>

                    <h5>Linkedin Profile</h5>
                    <% if @participant.user_profile&.linkedin_profile %>
                        <%= link_to @participant.user_profile.linkedin_profile, @participant.user_profile.linkedin_profile, :target => "_blank" %>
                    <% else %>
                        <p>Unknown</p>
                    <% end %>

                    <h5>Languages</h5>
                    <%= @participant.user_profile&.languages ? @participant.user_profile.languages : 'Unknown' %>

                    <h5>Institutions</h5>
                    <%= @participant.user_profile&.institutions ? @participant.user_profile.institutions : 'Unknown' %>

                    <h5>Technical Expertises</h5>
                    <ol>
                    <% @participant.user_profile&.technical_expertises.each do |te| %>
                        <li><%= te.name %></li>
                    <% end %>
                    </ol>

                    <h5>Interpersonal Support</h5>
                    <ol>
                    <% @participant.user_profile&.interpersonal_supports.each do |te| %>
                        <li><%= te.name %></li>
                    <% end %>
                    </ol>

                    <h5>Career Supports</h5>
                    <ol>
                    <% @participant.user_profile&.career_supports.each do |te| %>
                        <li><%= te.name %></li>
                    <% end %>
                    </ol>



            </div>
        </div>

    </div>
</div>
</div>

