<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Mentors</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <input type="text" class="form-control input-sm m-b-xs" id="filter"
                           placeholder="Search in table">

                        <table class="footable table table-stripped" data-page-size="15" data-filter=#filter>
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Role</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% @mentors.each do |user| %>
                        <tr class='user-row' data-value='<%= user.id %>'>
                            <td><%= user.name %></td>
                            <td><%= user.email %></td>
                            <td><%= user.user_profile&.role&.name %></td>
                        </tr>
                        <% end %>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="5">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <h5 id='user-name'></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="fullscreen-link">
                            <i class="fa fa-expand"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-stripped">
                        <tbody>
                            <tr>
                                <td colspan=2><a href='#' id='user-add' rel="nofollow" data-method="put" class="btn btn-block btn-outline btn-primary">Add Mentor</td>
                            </tr>
                            <tr>
                                <td>First Name:</td>
                                <td id="user-first-name">Name</td>
                            </tr>
                            <tr>
                                <td>Last Name:</td>
                                <td id="user-last-name">Name</td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td id='user-email'>Email</td>
                            </tr>
                            <tr>
                                <td colspan=2><a href='#' id='user-show' class="btn btn-block btn-outline btn-primary">Show Mentor</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<% content_for :javascript do %>

<script type="text/javascript">


$(function() {
    $('.footable').footable();
    renderUser(users[0]);
    $('.user-row').each(function() {
        $(this).on('click', function() {
            renderUserWithId($(this).data('value'));
        });
    })
});

var users = $.parseJSON(<%= @mentorsJson.inspect.html_safe %>);

function renderUserWithId(id) {
    var user = $.grep(users, function(user) {
        return user.id == id;
    });
    renderUser(user[0]);
}

function renderUser(user) {
    $('#user-name').html(user.first_name + ' ' + user.last_name);
    $('#user-first-name').html(user.first_name);
    $('#user-last-name').html(user.last_name);
    $('#user-email').html(user.email);
    $('#user-show').attr('href', '/mentors/' + user.id);
    $('#user-add').attr('href', '/mentors/' + user.id + '/add_mentor');
}

function titleize(word) {
    var deletedUnderscoreWord = word.replace(/_/g, ' ');
    var capitalizeEachWord = $.map(deletedUnderscoreWord.split(' '), function(word) {
        return word.charAt(0).toUpperCase() + word.slice(1);
    });
    return capitalizeEachWord.reduce(function(acc, val) {
        return acc + ' ' + val;
    })
}

</script>

<% end %>










