<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>My Mentors</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <% @mentors.each do |mentor| %>
            <div class="col-lg-4">
                <div class="contact-box">
                    <a href="<%= url_for :controller => 'mentors', :action => 'show', id: mentor.id %>">
                    <div class="col-sm-4">
                        <div class="text-center">
                            <% if mentor.user_profile&.user_profile_image&.image_path %>
                                <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= mentor.user_profile&.user_profile_image&.image_path %>">
                            <% else %>
                                <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('no_image.png') %>">
                            <% end %>
                            <div class="m-t-xs font-bold"><%= mentor.user_profile&.job_title %></div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h3><strong><%= mentor.name %></strong></h3>
                        <p><%= mentor.email %></p>
                        <address>
                                <%= mentor.user_profile&.address&.address_1 %><br>
                                <%= mentor.user_profile&.address&.address_2 %><br>
                                <%= mentor.user_profile&.address&.city %>, <%= mentor.user_profile&.address&.state %> <%= mentor.user_profile&.address&.zip %><br>
                        </address>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        <% end %>
    </div>
</div>

<% content_for :javascript do %>

<script type="text/javascript">

$(function () {

    $('.contact-box').each(function () {
        animationHover(this, 'pulse');
    });

});

</script>

<% end %>

