<div class="middle-box text-center loginscreen  animated fadeInDown">
  <div>
    <h2>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {class: 'm-t'}) do |f| %>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: 'Email' %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: 'Password' %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-primary block full-width m-b" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>