<div class="row">
	<div class="col-lg-8">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>New User</h5>
				<div class="ibox-tools">
		            <a class="collapse-link">
		                <i class="fa fa-chevron-up"></i>
		            </a>
		            <a class="close-link">
		                <i class="fa fa-times"></i>
		            </a>
		        </div>
		    </div>
			<div class="ibox-content">
				<%= form_for [:admin_portal, @user], html: { class: 'form-horizontal' } do |f| %>
					<%= f.hidden_field :id %>


					<div class="form-group">
						<%= f.label :email, class: 'col-sm-3 control-label' %>
						<div class="col-sm-6">
							<%= f.text_field :email, class: 'form-control' %>
						</div>
					</div>

					<div class="hr-line-dashed"></div>

					<%= f.fields_for :user_profile, f.object.user_profile do |g| %>
						<div class="form-group">
							<%= g.label :job_title, 'Job Title', class: 'col-sm-3 control-label' %>
							<div class="col-sm-6">
								<%= g.text_field :job_title, class: 'form-control' %>
							</div>
						</div>
						<div class="form-group">
							<%= g.label :role, 'Role', class: 'col-sm-3 control-label' %>
							<div class="col-sm-6">
								<%= g.collection_select :role_id, Role.all, :id, :name, {include_blank: false, label: 'Select Role'}, class: 'form-control' %>
							</div>
						</div>
						<div class="form-group">
							<%= g.label :employee_number, 'Employee Number', class: 'col-sm-3 control-label' %>
							<div class="col-sm-6">
								<%= g.number_field :employee_number, class: 'form-control' %>
							</div>
						</div>

						<%= g.fields_for :address, g.object.address do |h| %>
							<div class="form-group">
								<%= h.label :address_1, 'Address Line 1', class: 'col-sm-3 control-label' %>
								<div class="col-sm-6">
									<%= h.text_field :address_1, class: 'form-control' %>
								</div>
							</div>

							<div class="form-group">
								<%= h.label :address_2, 'Address Line 2', class: 'col-sm-3 control-label' %>
								<div class="col-sm-6">
									<%= h.text_field :address_2, class: 'form-control' %>
								</div>
							</div>

							<div class="form-group">
								<%= h.label :city, 'City', class: 'col-sm-3 control-label' %>
								<div class="col-sm-6">
									<%= h.text_field :city, class: 'form-control' %>
								</div>
							</div>

							<div class="form-group">
								<%= h.label :state, 'State', class: 'col-sm-3 control-label' %>
								<div class="col-sm-6">
									<%= h.text_field :state, class: 'form-control' %>
								</div>
							</div>

							<div class="form-group">
								<%= h.label :zip, 'Zipcode', class: 'col-sm-3 control-label' %>
								<div class="col-sm-6">
									<%= h.text_field :zip, class: 'form-control' %>
								</div>
							</div>
						<% end %>
						<div class="form-group">
							<%= g.label :linkedin_profile, 'Linkedin Profile', class: 'col-sm-3 control-label' %>
							<div class="col-sm-6">
								<%= g.url_field :linkedin_profile, class: 'form-control' %>
							</div>
						</div>
						<div class="form-group">
							<%= g.label :bio, 'Short Bio', class: 'col-sm-3 control-label' %>
							<div class="col-sm-6">
								<%= g.text_area :bio, class: 'form-control', rows: 5 %>
							</div>
						</div>
						<div class="form-group">
							<%= g.label :languages, 'Languages', class: 'col-sm-3 control-label' %>
							<div class="col-sm-6">
								<%= g.text_field :languages, class: 'form-control' %>
							</div>
						</div>
						<div class="form-group">
							<%= g.label :institutions, 'Institutions', class: 'col-sm-3 control-label' %>
							<div class="col-sm-6">
								<%= g.text_field :institutions, class: 'form-control' %>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Technical Expertise</label>
							<div class="col-sm-9">
								<div class="i-checks">
									<%= g.collection_check_boxes(:technical_expertise_ids, TechnicalExpertise.all, :id, :name) do |t| %>
										<br/>
										<label><%= t.check_box %> <%= t.label %></label>
									<% end %>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-3 control-label">Interpersonal Support</label>
							<div class="col-sm-9">
								<div class="i-checks">
									<%= g.collection_check_boxes(:interpersonal_support_ids, InterpersonalSupport.all, :id, :name) do |t| %>
										<br/>
										<label><%= t.check_box %> <%= t.label %></label>
									<% end %>
								</div>
							</div>
						</div>	

						<div class="form-group">
							<label class="col-sm-3 control-label">Career Support</label>
							<div class="col-sm-9">
								<div class="i-checks">
									<%= g.collection_check_boxes(:career_support_ids, CareerSupport.all, :id, :name) do |t| %>
										<br/>
										<label><%= t.check_box %> <%= t.label %></label>
									<% end %>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-3 control-label">Contribution Options</label>
							<div class="col-sm-9">
								<div class="i-checks">
									<%= g.collection_radio_buttons(:contribution_option_id, ContributionOption.all, :id, :name) do |t| %>
										<br/>
										<label><%= t.radio_button %> <%= t.label %>: <%= t.object.description %></label>
									<% end %>
								</div>
							</div>
						</div>

					<% end %>

					<div class="form-group">
						<div class="col-sm-4 col-sm-offset-3">
						<%= f.submit 'Submit', class: 'btn btn-primary' %>
					</div>

				<% end %>
			</div>
		</div>
	</div>
</div>
	<div class="col-lg-4">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>Profile Picture</h5>
				<div class="ibox-tools">
		            <a class="collapse-link">
		                <i class="fa fa-chevron-up"></i>
		            </a>
		            <a class="close-link">
		                <i class="fa fa-times"></i>
		            </a>
		        </div>
		    </div>
			<div class="ibox-content">
				<%= form_for [:upload_new_profile_image, :admin_portal, @user], html: { class: 'dropzone', id: 'user-profile-image' } do |f| %>
					<!-- <label class="message dz-message">Drop Profile Image Here</label> -->
					<div class="dz-message">Upload Profile Image Here

		            </div>
				<% end %>
				<label>Current Profile Image</label>
				<br />
				<% if @user.user_profile&.user_profile_image&.image_path %>
					<%= image_tag @user.user_profile&.user_profile_image&.image_path, class: 'user-profile-image-preview' %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<% content_for :javascript do %>

	<script type="text/javascript">

	</script>
<% end %>





