<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Users</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <input type="text" class="form-control input-sm m-b-xs" id="filter"
                           placeholder="Search in table">

                        <table class="footable table table-stripped" data-page-size="15" data-filter=#filter style="overflow-x: scroll;">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>State</th>
                            <th>Role</th>
                            <th>Profile Percent</th>
                            <th>Location</th>
                            <th>Last Log-In</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% @users.each do |user| %>
                        <tr class='user-row' data-value='<%= user.id %>'>
                            <td><%= user.name %></td>
                            <td><%= user.email %></td>
                            <td><%= user.access_state.titleize %></td>
                            <td><%= user.user_profile&.role&.name %></td>
                            <td><%= number_to_percentage(user.completion_rate, precision: 0) %></td>
                            <td><%= user.user_profile&.geocoded_state_location ? user.user_profile&.geocoded_state_location : 'Unknown' %></td>
                            <td><%= user.last_sign_in_at&.strftime("%B %d %Y") %></td>
                            <% if user.granted_access? %>
                                <td><%= link_to 'Deny Access', [:deny_access,:admin_portal,user], {class: 'btn btn-danger btn-outline btn-xs', method: :put} %></td>
                            <% elsif user.denied_access? %>
                                <td><%= link_to 'Grant Access', grant_access_admin_portal_user_path(user), class: 'btn btn-xs btn-outline btn-primary', method: :put %></td>
                            <% else %>
                                <td><%= link_to 'Grant Access', grant_access_admin_portal_user_path(user), class: 'btn btn-xs btn-outline btn-primary', method: :put %>
                                <%= link_to 'Deny Access', [:deny_access,:admin_portal,user], {class: 'btn btn-danger btn-outline btn-xs', method: :put} %></td>
                            <% end %>
                        </tr>
                        <% end %>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="4">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <h5 id='user-name'></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="fullscreen-link">
                            <i class="fa fa-expand"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-stripped">
                        <thead>
                            <tr>
                                <th style="width: 200px"></th>
                                <th style="width: 200px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan=2><%= link_to 'Add User', [:new, :admin_portal, :user], class: 'btn btn-primary btn-block btn-outline'%>
                                </td>
                            </tr>
                            <tr>
                                <td>First Name:</td>
                                <td id="user-first-name">Name</td>
                            </tr>
                            <tr>
                                <td>Last Name:</td>
                                <td id="user-last-name">Name</td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td id='user-email'>Email</td>
                            </tr>
                            <tr>
                                <td>State:</td>
                                <td id="user-access-state">Awaiting Access</td>
                            </tr>
                            <tr>
                                <td><a href='#' id='user-show' class="btn btn-block btn-outline btn-primary">Show User</td>
                                <td><a href='#' id='user-edit' class="btn btn-block btn-outline btn-primary">Edit User</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<% content_for :javascript do %>

<script type="text/javascript">


$(function() {
    $('.footable').footable();
    renderUser(users[0]);
    $('.user-row').each(function() {
        $(this).on('click', function() {
            renderUserWithId($(this).data('value'));
        });
    })
});

var users = $.parseJSON(<%= @usersJson.inspect.html_safe %>);

function renderUserWithId(id) {
    var user = $.grep(users, function(user) {
        return user.id == id;
    });
    renderUser(user[0]);
}

function renderUser(user) {
    $('#user-name').html(user.first_name + ' ' + user.last_name);
    $('#user-first-name').html(user.first_name);
    $('#user-last-name').html(user.last_name);
    $('#user-email').html(user.email);
    $('#user-access-state').html(titleize(user.access_state));
    $('#user-edit').attr('href', '/admin_portal/users/' + user.id + '/edit');
    $('#user-show').attr('href', '/mentors/' + user.id);
}

function titleize(word) {
    var deletedUnderscoreWord = word.replace(/_/g, ' ');
    var capitalizeEachWord = $.map(deletedUnderscoreWord.split(' '), function(word) {
        return word.charAt(0).toUpperCase() + word.slice(1);
    });
    return capitalizeEachWord.reduce(function(acc, val) {
        return acc + ' ' + val;
    })
}

</script>

<% end %>










