<div class="row">
	<div class="col-lg-12">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>New User</h5>
				<div class="ibox-tools">
		            <a class="collapse-link">
		                <i class="fa fa-chevron-up"></i>
		            </a>
		            <a class="close-link">
		                <i class="fa fa-times"></i>
		            </a>
		        </div>
		    </div>
			<div class="ibox-content">
				<%= form_for [:admin_portal, @user], html: { class: 'form-horizontal' } do |f| %>


					<div class="form-group">
						<%= f.label :email, class: 'col-sm-3 control-label' %>
						<div class="col-sm-6">
							<%= f.text_field :email, class: 'form-control' %>
						</div>
					</div>
					
					<div class="form-group">
						<%= f.label :first_name, class: 'col-sm-3 control-label' %>
						<div class="col-sm-6">
							<%= f.text_field :first_name, class: 'form-control' %>
						</div>
					</div>
					<div class="form-group">
						<%= f.label :last_name, class: 'col-sm-3 control-label' %>
						<div class="col-sm-6">
							<%= f.text_field :last_name, class: 'form-control' %>
						</div>
					</div>

					<div class="form-group">
						<%= f.label :password, class: 'col-sm-3 control-label' %>
						<div class="col-sm-6">
							<%= f.password_field :password, class: 'form-control' %>
						</div>
					</div>

					<div class="form-group">
						<%= f.label :password_confirmation, class: 'col-sm-3 control-label' %>
						<div class="col-sm-6">
							<%= f.password_field :password_confirmation, class: 'form-control' %>
						</div>
					</div>

					<div class="hr-line-dashed"></div>

					<div class="form-group">
						<%= f.label :title, class: 'col-sm-3 control-label' %>
						<div class="col-sm-6">
							<%= f.text_field :title, class: 'form-control' %>
						</div>
					</div>
			

					<%= f.fields_for :user_profile, f.object.user_profile do |g| %>
						<div class="form-group">
							<%= g.label :role, 'Role', class: 'col-sm-3 control-label' %>
							<div class="col-sm-6">
								<%= g.collection_select :role_id, Role.all, :id, :name, {include_blank: false, label: 'Select Role'}, class: 'form-control' %>
							</div>
						</div>
						<div class="form-group">
							<%= g.label :employee_number, 'Employee Number', class: 'col-sm-3 control-label' %>
							<div class="col-sm-6">
								<%= g.number_field :employee_number, class: 'form-control' %>
							</div>
						</div>
						<div class="form-group">
							<%= g.label :linkedin_profile, 'Linkedin Profile', class: 'col-sm-3 control-label' %>
							<div class="col-sm-6">
								<%= g.url_field :linkedin_profile, class: 'form-control' %>
							</div>
						</div>
						<div class="form-group">
							<%= g.label :bio, 'Short Bio', class: 'col-sm-3 control-label' %>
							<div class="col-sm-6">
								<%= g.text_area :bio, class: 'form-control', rows: 5 %>
							</div>
						</div>
						<div class="form-group">
							<%= g.label :languages, 'Languages', class: 'col-sm-3 control-label' %>
							<div class="col-sm-6">
								<%= g.text_field :job_title, class: 'form-control' %>
							</div>
						</div>
						<div class="form-group">
							<%= g.label :institutions, 'Institutions', class: 'col-sm-3 control-label' %>
							<div class="col-sm-6">
								<%= g.text_field :institutions, class: 'form-control' %>
							</div>
						</div>
					<% end %>

					<%= f.hidden_field :created_by_admin, :value => true %>


					<div class="form-group">
						<div class="col-sm-4 col-sm-offset-3">
						<%= f.submit 'Submit', class: 'btn btn-primary' %>
					</div>

				<% end %>

			</div>
		</div>
	</div>
</div>