<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <%= link_to root_path do %>
                            <img alt="image" id="main-logo" class="img-thumbnail" style="background: transparent; border: none;" src="<%= image_url 'imagine_it_delivered_reverse_300dpi.png' %>"/>
                        <% end %>
                    </span>
                    <% if user_signed_in? %>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold"><%= current_user.name %></strong>
                            </span> <span class="text-muted text-xs block"><%= current_user.title %><b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><%= link_to "Settings", edit_user_registration_path %>
                        </li>
                        <li><%= link_to "Profile", edit_admin_portal_user_path(current_user) %></li>
                        <li class="divider"></li>
                        <li><%= link_to('Log Out', destroy_user_session_path) %>
                        </li>
                    </ul>
                    <% end %>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <!--
            <li>
                <a href="#"><i class="fa fa-sitemap"></i> <span class="nav-label" data-i18n="nav.menulevels">Test</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                   <  <li>
                        <a href="#">Third Level <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </li>
            -->
            <% if current_user %>
                <% if current_user.admin? %>
                    <li>
                        <a href="#"><i class="fa fa-sitemap"></i> <span class="nav-label" data-i18n="nav.menulevels">Admin Portal</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><%= link_to 'Users', admin_portal_users_path %></li>
                        </ul>
                    </li>
                <% end %>
                <% if current_user.admin? || current_user.participant? %>
                    <li>
                        <a href="#"><i class="fa fa-sitemap"></i> <span class="nav-label" data-i18n="nav.menulevels">Mentors</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><%= link_to 'Mentors', mentors_path %></li>
                            <li><%= link_to 'Find Mentors', find_mentors_path %></li>
                        </ul>
                    </li>
                <% end %>

                <% if current_user.admin? || current_user.mentor? %>
                    <li>
                        <a href="#"><i class="fa fa-sitemap"></i> <span class="nav-label" data-i18n="nav.menulevels">Participants</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><%= link_to 'Participants', participants_path %></li>
                        </ul>
                    </li>
                <% end %>
        <% end %>

        </ul>

    </div>
</nav>