<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Graduate Development Program</title>

    <!-- Include style per-controller - vendor plugins -->
    <%= stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css") %>
    <!-- Main css styles -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <!-- Main javascript files -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

</head>
<body>

    <!-- Wrapper-->
    <div id="wrapper">

        <!-- Navigation -->
        <%= render 'layouts/navigation' %>

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg">

            <!-- Page wrapper -->
            <%= render 'layouts/topnavbar' %>

            <!-- Main view  -->
            <% flash.each do |message_type, message| %>
                <div class="alert alert-<%= message_type %> alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button><%= message %></div>
            <% end %>
            <%= yield %>

            <!-- Footer -->
            <%= render 'layouts/footer' %>
        </div>
        <!-- End page wrapper-->

         <!-- Include javascript per-controller - vendor plugins -->
        <%= javascript_include_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js") %>

        <%= yield :javascript %>
        <%= yield :last_javascripts %>

    </div>
    <!-- End wrapper-->

</body>
</html>
